.App {
   max-width: 700px;
   margin: 40px auto;
}

.App footer {
    font-size: 11px;
    margin: 10px 0;
    text-align: center;
}

@media (max-width: 768px) {

    .container {
        padding: 10px;
    }

    .button {
    text-align: center;
    width: 50px !important;
    font-size: 15px;
    color: white;
    background: rgb(165, 219, 242);
    border: none;
    line-height: 1;
    border-radius: 5px;
  }

  .form-control {
    padding: 2px;
  }

  .currentTemperature {
    font-size: 20px;
  }

  .weatherConditions li {  
    padding: 0px !important;
    font-size: 10px;
  }

  .Weather img {
    margin-top: 10px;
    height: 60px;
    width: 60px;
  }

  .WeatherForecast-day {
    font-size: 15px;
  }

  footer {
    text-align: center;
  }

}

@media (max-width: 480px) {

    h1 {
        font-size: 30px !important;
    }
    .Weather-forecast-container {
       display: none; 
    }

     .Weather img {
    margin-top: 10px;
    height: 65px !important;
    width: 65px !important;
  }

    .currentTemperature {
    font-size: 25px !important;
  }

     .weatherConditions li {  
        padding: 0px !important;
        font-size: 14px !important;
  }


    footer {
    text-align: center;
  }
}