.WeatherInfo .currentTemperature {
    font-size: 29px;
    margin-top: 15px;
    text-align: left;
    color: rgb(61, 60, 60);
}

.WeatherInfo .currentTemperature img {
    width: 90px;
    height: 90px;
    margin-bottom: 5px;
}

.WeatherInfo .weatherConditions li {
    font-size: 15px;
    text-align: right;
    margin-right: 30px;
   
}

.WeatherInfo .humidity {
    margin-top: 33px;
}

